
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.button {
    font-family: "Verdana", sans-serif;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 60px;
    font-size: 35px;
    font-weight: 700;
    color: black;
    background: rgb(251, 169, 38);
    border: 5px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.5s ease, color 0.5s ease;
}


.button:hover {
    transform: translateX(-50%) scale(1.2); 
    background: rgb(252, 230, 62);
    color: rgb(0, 0, 0);
}
